*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
    /* Imagem de fundon tem 1280 L x 649 A*/   
}




.interface{
    max-width: 1280px;
    
    margin: 0 auto; /* afasta o conteudo da tela*/
    padding: 0 4%; /* afasta o conteudo da tela*/
    
}

header .btn-contato button:hover ,.hoteis button:hover{
    background-color: white;
    color: black;
}
    
    /* Estilo do header*/

header {
    width: 100%;
    padding: 40px 0;
    position: fixed; /*Deixa menu transparete, lembrando que a imagem deve esta no background imagem*/
    top: 0;
    left: 0;
    font-size: 30px ;
    transition: 0.5s;
    z-index: 9;
    
}

header .interface{ /* modifica somente a header*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .logo img { /* Diminuir a logo*/
    max-width: 50px; 
    
}

/* Estilo do menu dinâmico*/
header .logo img.preto{
    max-width: 50px;
    display: none; /* Esconder a logo preta*/
}


header.rolar {
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* sombra do menu*/
    transition: 0.5s;
    padding: 20px 0; /* diminui o tamanho do menu*/

    box-shadow: 0 2px 10px #000; /* sombra do menu*/
    transition: 0.5s;
}

header.rolar .menu-desktop nav ul li a {
    color: black; /* Muda a cor do menu quando rolar*/
   
}

header.rolar .btn-contato button{
     border: 1px solid black; /* Muda a cor do botão quando rolar*/
        color: black;
}

header.rolar .btn-contato button:hover{
    background-color: black; /* Muda a cor do botão quando rolar*/
    color: white;
}

header.rolar .logo .branco{
    display: none; /* Esconder a logo branca*/
    
}

header.rolar .logo .preto{
    display: block; /* Esconder a logo branca*/
}

/* Estilo do menu dinâmico FIM*/



header .menu-desktop nav ul{
    list-style-type: none; 
    /* Tira a bolinha da lista*/
}

header .menu-desktop nav ul li{
    display: inline-block;
    margin:  0 40px;
    
}

header .menu-desktop nav ul li a {
    color: rgb(243, 239, 239);
    text-decoration: none;
    display: inline-block; /*para dar zoom*/
    transition: 2.s;
    font-size: 15px;
    
}

.menu-desktop nav a:hover{
    transform: scale(1.5);
}

header .btn-contato button, .hero-site button , .hoteis button {
    width: 140px;
    height: 50px;
    background-color: transparent;
    border: 1px solid white ;
    color: white;
    cursor: pointer;
    transition: .5s;
    font-size: 20px;
}

/* Estilo do menu mobile*/

header .btn-menu-mob{
    display: none; /* Esconder o menu desktop*/
}

header .btn-menu-mob div {
    background-color: white;
    height: 3px;
    margin: 10px 0;
    transition: 2.s;
}

header .btn-menu-mob .line-menumob-1{
    width: 30px;

}

header .btn-menu-mob .line-menumob-2{
    width: 30px;

}

header.rolar .btn-menu-mob div{
    background-color: #000;
}

header .btn-menu-mob .line-menumob-1.ativo1 {
    transform: rotate(45deg) translate(30%); /* Rotaciona a linha 1*/
    
}

header .btn-menu-mob .line-menumob-2.ativo2 {
    transform: rotate(-45deg) translate(30%); /* Rotaciona a linha 1*/
    width: 30px;
}
/* fim mobile*/


/*Estilo Hero*/

section.hero-site {
    height: 98vh;
    background-image: url(imagens/pexels-lebele-1280-800.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    background-attachment: fixed;
    
}

.hero-site .interface{
 display: flex;
 align-items: center;
 height: 100%;


}

.hero-site .txt-hero h1 {
    font-size: 4em;
    line-height: 70px;
    font-weight: 200;
}

.hero-site .txt-hero h1 span {
    display: block;
    font-weight: 800;
}

.hero-site .txt-hero p {
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0;
}

.hero-site .txt-hero p span{
    display: block;
}

.hero-site button{
    width: 220px;
    height: 60px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    transition: .5s;
} 

.hero-site button:hover{
    background-color: white;
    color: black;
}    

/* Estilo vantagens*/

section .vantagens  {
    padding: 80px 0;
    
}


.vantagens .itens-conteneir { 
    display: flex;
    align-items: center;
    justify-content: space-between; /* Manter o elementos na mesma linha*/

    gap: 20%; /* seprarou o paragrafo do imagem*/

    margin-top: 10px; /*seprara os blocos*/
    margin-bottom: 20px;
    
}

.vantagens .itens-conteneir .img-itens img{
    max-width: 300px; /*Ajusta o tamanho das imagens*/
    

    
}

.vantagens .itens-conteneir .txt-itens h3 {
    font-size: 3em;
    line-height: 50px;
    margin-bottom: 20px;
}

.itens-conteneir .txt-itens h3 span{
    font-weight: 200px;
   
}

/* Vantagens do site --------------FIM*/

 /*Estilo fale com a gente*/


section.contato {
    
    padding: 70px 0px;
    background-color: #b9b8b8ed;
}


.txt-contato, .icons-contato {
    display: inline-block;
    width: 50%;
    margin-right: -4px;

    vertical-align: middle;/* deixar os elementos alinhado*/
}

.contato .txt-contato h3 {
    font-size: 2.5em;
    line-height: 50px;
    font-weight: 300;
    margin-bottom: 20px;
}

.contato .txt-contato h3 span{    
    display: block;
    font-weight: 700;
}

.contato .txt-contato  p {
    font-size: 1.5em;
    
}

 .txt-contato{
    padding: 20px;
}

.contato .icons-contato a{
    text-decoration: none; /* Sumir com a linha da tag  a*/
    

}

.contato .icons-contato button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:  60%;
    height: 60px;
    margin: 0px auto 20px auto; /* centralizar os botões*/

    padding: 0 60px;

    background-color: transparent;
    border: 2px solid black;
    cursor: pointer;

    font-size: 1rem;
}

.contato .icons-contato button i  {
    font-size: 24px;
}

.icons-contato button:hover  {
    background-color:black;
    color: white;
}

.contato .icons-contato button:hover i, .contato .icons-contato button:hover p{
    color: white;
}
/* ===================FIM ==============================contato */

/* Estilo da sessão hoteis*/

section.hoteis {
    height: 600px;

    background-image: url(imagens/pexels-lumierestudiomx-800x533.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
    text-align: center;
    /*deixar a pagina estatica*/
    background-attachment: fixed;


}



.hoteis > .orvelay {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.671);z-index: 1;

}

.hoteis > .interface {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column; /* deixa os elementos um embaixo do outro*/

    z-index: 2;
    position: relative;
}

.hoteis  h3{
    font-size: 3em;
    line-height: 50px;
    font-weight: 200;
}

.hoteis span {
    display: block;
    font-weight: 700;
}

.hoteis p {
    margin: 20px 0;
    font-size: 20px;
    font-weight: 300;
}

.hoteis button {
    width: 220px;
    height: 60px;
}

/* Estilo com funciona*/

section.como-funciona{
    padding: 80px 0;
}

.txt-funciona, .instrucoes {
   display: inline-block; 
   width:50% ;
   margin-right: -4px;

   vertical-align: top; /*posicionamento do bloco Como funciona*/
}

.como-funciona .txt-funciona{ /*Mover o como funciona*/
    position: sticky;
    top: 50%;
}
.como-funciona .txt-funciona h3{
    font-size: 4em;
    line-height: 50px;
   font-weight: 200px;
}

.como-funciona .txt-funciona h3 span{
    display: block;
    font-weight: 300px;
}

.instrucoes .instru-box{
    display: flex;
    align-items: center;
    gap: 20px;

    margin-bottom: 60px;
    border: 2px solid #000;
    padding: 20px;
}

.instrucoes .instru-box img{
    max-width: 500px;
}

.instrucoes .instru-box h4{
    font-size: 1.5em;
    font-weight: 800px;
    margin-bottom: 10px;
}

.instrucoes .instru-box h4 span{
    font-weight: 300px;
}

/*Footer*/

footer{
    background-color: #000;
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

footer .top-footer button{
width: 60px;
height: 60px;
border-radius: 50%;
border: 2px solid #fff;
background-color: transparent;
color: #fff;
font-size: 24px;
cursor: pointer;
margin: 0 10px;
}

footer .top-footer button:hover{
    background-color: #fff;
    color: #000;
}

footer .middle-footer{
    margin: 20px 0;
}

footer .middle-footer a {
    color: #fff;
    margin: 0 20px;
}

footer .bottom-fotter{
    border-top: 2px solid #fff;
}

footer .bottom-fotter p {
    color: #fff;
}
